<link rel="stylesheet" href="{{'fs-footer.css' | asset_url }}">

<!-- footer -->
<footer class="footer">
     <div class="container">
    <div class="row">
        <div class="{%- if section.settings.showrefbtn -%} col-sm-4 {%- else -%} col-sm-6 {%- endif -%} ">
            <div class="footer-content">
                {% comment %} <h2 class="footer-heading">Company</h2> {% endcomment %}
                <a href="#">
                    <img src="{{settings.logo | img_url: '400x400' }}" class="footer-logo">
                </a>
            </div>
        </div>
        {%- if section.settings.showrefbtn -%}
            <div class="col-sm-4">
                <a href="{{section.settings.refBtnLink}}" target="_blank">
                    <button class="btn banner-shop-btn">{{section.settings.refbtntext}}</button>
                </a>
            </div>
        {%- endif -%}
        <div class="{%- if section.settings.showrefbtn -%} col-sm-4 {%- else -%} col-sm-6 {%- endif -%} mt-sm-0 footer-follow d-flex justify-content-end">
            <div class="footer-content">
                {%- if section.settings.social -%}
                <h3 class="footer-heading">Follow Us</h3>
                <ul class="social-list">
                    {% if section.settings.linkedin != blank %}                       
                    <li class="social-icons-item">
                        <a  href="{{section.settings.linkedin}}" target="_blank" class="social-link"><i
                            class="fa-brands fa-linkedin-in footer-icons"></i></a></li>
                    {% endif %}
                    {% if section.settings.facebook != blank %}
                    <li class="social-icons-item">
                        <a href="{{section.settings.facebook}}" target="_blank" class="social-link"><i
                                class="fa-brands fa-facebook-f footer-icons"></i></a></li>
                    {% endif %}
                    {% if section.settings.twitter != blank %}
                        <li class="social-icons-item">
                            <a href="{{section.settings.twitter}}" target="_blank" class="social-link"><i
                                class="fa-brands fa-twitter footer-icons"></i></a></li>
                    {% endif %}
                    {% if section.settings.instagram != blank %}
                        <li class="social-icons-item"><a href="{{ section.settings.instagram }}" class="social-link"><i
                                class="fa-brands fa-instagram footer-icons"></i></a></li>
                    {% endif %}
                    {% if section.settings.discord != blank %}
                    <li class="social-icons-item"><a href="{{section.settings.discord}}" target="_blank" class="social-link"><i
                                class="fa-brands fa-discord footer-icons"></i></a></li>
                    {% endif %}
                    {% if section.settings.youtube != blank %}
                    <li class="social-icons-item"><a href="{{section.settings.youtube}}" target="_blank" class="social-link"><i
                                class="fa-brands fa-youtube footer-icons"></i></a></li>
                    {% endif %}
                    {% if section.settings.medium != blank %}
                    <li class="social-icons-item"><a href="{{section.settings.medium}}" target="_blank" class="social-link"><i
                                class="fa-brands fa-medium footer-icons"></i></a></li>
                    {% endif %}

                </ul>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
</footer>


{% schema %}
    {
        "name": "FS Footer",
        "settings": [
            {
                "type": "image_picker",
                "id": "f-image",
                "label": "Logo"
            },
            {
                "type": "checkbox",
                "id": "social",
                "label": "Show Social Links",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "showrefbtn",
                "label": "Show Referal Button",
                "default": true
            },
            {
                "type": "text",
                "id": "refbtntext",
                "label": "Referal Button Text",
                "default": "Refer Your Friends"
            },
            {
                "type": "text",
                "id": "refBtnLink",
                "label": "Referral link"
            },
            {
                "type": "header",
                "content": "Social Links"
            },
            {
                "type": "text",
                "id": "linkedin",
                "label": "LinkedIn"
            },
            {
                "type": "text",
                "id": "facebook",
                "label": "Facebook"
            },
            {
                "type": "text",
                "id": "instagram",
                "label": "Instagram"
            },
            {
                "type": "text",
                "id": "twitter",
                "label": "Twitter"
            },
            {
                "type": "text",
                "id": "discord",
                "label": "Discord"
            },
            {
                "type": "text",
                "id": "youtube",
                "label": "Youtube"
            },
            {
                "type": "text",
                "id": "medium",
                "label": "Medium"
            }
        ]
    }
{% endschema %}