 <link rel="stylesheet" href="{{'fs-hero-banner.css' | asset_url }}">
 <style>
    @media screen and (min-width: 1200px) {
        .carousel::after {
            -webkit-animation: off-on 5s infinite linear;
            animation: off-on 5s infinite linear;
            background: url({{ 'banner-shape-1.png' | asset_img_url: 'master' }}) no-repeat top left;
            content: '';
            height: 100%;
            position: absolute;
            left: 0;
            top: -168px;
            width: 100%;
            z-index: -1;
        }
    }
</style>
 
 <!-- Banner start -->
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for block in section.blocks %}     
            <div class="carousel-item {% if forloop.first%}active{% endif %}">
                <img src="{{block.settings.image | img_url: 'master'}}" class="d-block w-100" alt="...">
                <div class="carousel-caption container d-none d-md-block">
                    {% if block.settings.eyv %}
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/{{block.settings.yid}}?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {% else %}
                        <h5 class="banner-title"><span>-20%</span> on Spaceships</h5>
                    {% endif %}
                    <a href="{{block.settings.btn-url}}">
                        <button class="btn banner-shop-btn">{{block.settings.btn-text}}</button>
                    </a>
                    
                </div>
                <div class="video-container for-mobile">
                    <iframe src="https://www.youtube.com/embed/{{block.settings.yid}}?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <!-- <div class="container banner-main-text">
                    <h2 class="banner-prepare-heading">Prepare your</h2>
                    <h2 class="banner-fleet-heading">Fleet</h2>
                </div> -->
            </div>
        {% endfor %}
    </div>
</div>
<!-- Banner end -->

{% schema %}
    {
        "name": "FS Hero Banner",
        "settings": [
            
        ],
        "blocks": [
            {
                "type": "Slide",
                "name": "Slide",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Background Image"
                    },
                    {
                        "type": "url",
                        "id": "btn-url",
                        "label": "Button Url"
                    },
                    {
                        "type": "text",
                        "id": "btn-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "checkbox",
                        "id": "eyv",
                        "label": "Enable Youtube Video",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "yid",
                        "label": "Youtube Video ID"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "FS Hero Banner"
            }
        ]
    }
{% endschema %}