<link rel="stylesheet" href="{{ 'fs-header.css' | asset_url }}">

<header>
    <nav class="navbar">
        <div class="container-section">
            <div class="nav-flex  d-flex justify-content-between align-items-center flex-wrap">
                <div class="nav-brand me-4">
                    <a href="/">
                        <img class="logo" src="{{settings.logo | img_url: 'master'}}">
                    </a>
                </div>
                <form action="/search" method="get" role="search" class="d-flex nav-search-bar me-auto mt-md-0 mt-3">
                    <input type="search" class="nav-search-input me-2" name="q" style="background-image: url('{{ "search.png" | asset_img_url: "master" }}') ">
                    {% comment %} <img class="search-icon" src="{{'search.png' | asset_img_url: 'master'}}"> {% endcomment %}
                    <button class="nav-search-btn btn">Search</button>
                </form>
                {% comment %} <form action="">
                    <input type="search" name="q" placeholder="Search" aria-label="Search" />
                    <button type="submit">Search</button>
                  </form> {% endcomment %}
                  
                <div class="cart-content">
                    <a href="/cart">
                    <img class="cart-icon" src="{{'cart.png' | asset_img_url: 'master'}}">
                    <div class="cart-counter-number">
                        <span>{{ cart.item_count }}</span>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

