{% comment %} {{ 'pdpSlider.css' | asset_url | stylesheet_tag }}
{{ 'pdpProductDetail.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'pdpTabs.css' | asset_url | stylesheet_tag }}

<div class="container">
<div class="pdp-tabs-section">
  <ul class="nav nav-tabs pdp-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
              type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
              type="button" role="tab" aria-controls="profile" aria-selected="false">Specs</button>
      </li>
  </ul>
  <div class="tab-content" id="">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="tab">
        {% if product.description != blank %}
          <p>{{product.description}}</p>
          {% else %}
          <p>Descritption is empty</p>
        {% endif %}  
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p> {{ product.metafields.custom.specss }} </p>
      </div>
  </div>
</div>
</div>



{% comment %} <script src="{{ 'pdp-script.js' | asset_url }}" defer></script> {% endcomment %}

{% schema %}
{
  "name": "Fs PDP tabs",
  "settings": [],
  "blocks": [
    {
      "type": "tabs",
      "name": "Tabs", 
      "settings": [
        {
          "type": "text",
          "id": "tab-name",
          "label": "Tab Name"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fs PDP"
    }
  ]
}
{% endschema %}
