{% comment %} {{ 'pdpSlider.css' | asset_url | stylesheet_tag }}
{{ 'pdpProductDetail.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'pdpTabs.css' | asset_url | stylesheet_tag }}

<div class="container">
  <div class="pdp-tabs-section">
    <ul class="nav nav-tabs pdp-tabs" id="myTab" role="tablist">
      {% for block in section.blocks %}
        <li class="nav-item" role="presentation">
          <button class="{% if forloop.first %}active {% endif %}nav-link" id="tab-{{ forloop.index }}" data-bs-toggle="tab" data-bs-target="#tab-{{ forloop.index }}"
              type="button" role="tab" aria-controls="tab-{{ forloop.index }}" aria-selected="true">{{ block.settings.tab-name }}</button>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
      {% for b in section.blocks %}
        <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="tab-{{ forloop.index }}" role="tabpanel" aria-labelledby="tab-{{ forloop.index }}">
          {{ b.settings.desc }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% comment %} <script src="{{ 'pdp-script.js' | asset_url }}" defer></script> {% endcomment %}

{% schema %}
{
  "name": "Fs PDP tabs",
  "settings": [],
  "blocks": [
    {
      "type": "tabs",
      "name": "Tabs", 
      "settings": [
        {
          "type": "text",
          "id": "tab-name",
          "label": "Tab Name"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fs PDP"
    }
  ]
}
{% endschema %}
